* {
	box-sizing: border-box;
}
*:hover {
	/* outline: 2px blue solid; */
}

html,
body {
	position: relative;
	padding: 0;
	margin: 0;
	min-height: 100vh;
}

.container {
	position: absolute;
	left: 20%;
	text-align: center;
	width: 60%;
	height: 100%;
	border: 1px solid lightgray;
	border-top: 0px;
	border-bottom: 0px;
	padding: 3% 6%;
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: center;
}

.gray-bar {
	background-color: lightgray;
	color: white;
	padding: 10px 0px 10px 0px;
	width: 100%;
}

.large-project {
	/* color: #FEC98F; */
	color: #ffb480;
}
.small-project {
	color: #87ceeb;
}
.wip {
	color: #9fcc99;
}

/* new class just for hover effect */
.item {
	padding: 20px 0px;
	margin: 0px;
	font-size: 1.5rem;
	transition: all 0.15s ease;
}

.item:hover {
	transform: scale(1.2);
	transition: all 0.15s ease;
}
