* {
	box-sizing: border-box;
}
*:hover {
	/* outline: 2px blue solid; */
}

html,
body {
	position: relative;
	padding: 0;
	margin: 0;
	min-height: 100vh;
}


.fill {
	display: flex;
	bottom: 0;
	left: 0;
	margin: auto;
	overflow: auto;
	position: fixed;
	right: 0;
	top: 0;
	-o-object-fit: contain;
	object-fit: contain;
}

.fill img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
	z-index: 0;
}

.container {
	position: absolute;
	left: 20%;
	text-align: center;
	width: 60%;
	height: 100%;
	border: 1px solid lightgray;
	border-top: 0px;
	border-bottom: 0px;
	padding: 3% 6%;
	background-color: #FFFFFF38;
	z-index: 1;

}

a:link { 
	text-decoration: none; 
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: center;
}

.gray-bar {
	background-color: lightgray;
	color: white;
	padding: 10px 0px 10px 0px;
	width: 100%;
}

.large-project span {
	background-color: #FEC98F;
	padding: 5px 15px;
	color: white;
}
.small-project span {
	background-color: #87ceeb;
	padding: 5px 15px;
	color: white;
}

.wip span {
	background-color: #9fcc99;
	padding: 5px 15px;
	color: white;
}

/* new class just for hover effect */
.item {
	padding: 20px 0px;
	margin: 0px;
	font-size: 1.5rem;
	transition: all 0.15s ease;
	font-family: monospace;
	font-weight: 400;
}

.item:hover {
	transform: scale(1.2);
	transition: all 0.15s ease;
}
