body {
	background-color: #eeeeeeaa;
}

@media only screen and (max-width: 600px) {
  h1.center {
    font-weight: bold;
  }  
}


h1.center {
	text-align: center;
}

.back-to-home {
	position: absolute;
	left: 100%;
	top:0%;
	transform: translate(-150%, 0%);
	padding: 10px;
	color: black;
	text-decoration: none;
	background-color: lightgray;
	border-radius: 5px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;

}

a.back-to-home:visited {
  color: black;
}

div.blocker {
	display: None;
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 9;
	animation: fadeIn 2s;
}

div.intrusivemodal {
	display: None;
	position: fixed;
	z-index: 10;
	left: 10%;
	width: 80%;
	height: 80%;
	background-color: #87ceebd9;
	animation: fadeIn 2s;
}

p {
	font-family: sans-serif;
	line-height: 1.75em;
}

input {
	margin-top: 1em;
	width: 85%;
	padding: 0.75em 0em;
	text-align: center;
}

#subscribe {
	cursor: pointer;
	margin-top: 3em;
	padding: 1em 0em;
	width: 85%;
	border-radius: 1em;
	border-width: 0;
	background-color: #87ceebd9;
}

#subscribe-text {
	/* font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
	font-family: "avenir", Arial, Helvetica, sans-serif;
	font-weight: 700;
	font-size: 16pt;
}

#privacy {
	position: absolute;
	margin-top: 3em;
	left: -10px;
}

div.modernmodal {
	display: None;
	position: fixed;
	z-index: 10;
	left: 50%;
	top: 50%;
	height: 50%;
	/* width: 60%; */
	aspect-ratio: 4.5 / 3;
	transform: translate(-50%, -60%);

	background-color: #ffffff;
	/* border-radius: 100px; */
	border-width: 5px;
	border-style: none;
	border-color: gray;
	box-shadow: 20px 25px 20px rgba(0, 0, 0, 0.7);
	animation: fadeIn 2s;
}

div.modernTextContainer {
	/* pointer-events: none; */
	position: absolute;
	width: 50%;
	height: 100%;
	top: 0%;
	left: 50%;
}

div.modernTextContent {
	position: absolute;
	width: 80%;
	height: 90%;
	top: 5%;
	left: 10%;
	background-color: white;
}

h2 {
	text-align: left;
	font-family: "Lato", sans-serif;
	font-size: 2.5em;
	margin-bottom: 0.75em;
}

img.decorImg {
	position: absolute;
	width: 50%;
	height: 100%;
	top: 0%;
	left: 0%;
	/* background-color: blue; */
	/* background-image: url("decor.jpg");
  background-repeat: no-repeat; */
}

span.close {
	cursor: default;
	font-size: 2.5em;
	margin-right: 10px;
	float: right;
}

div.center {
	position: absolute;
	width: 50%;
	height: 50%;
	top: 50%;
	left: 50%;
	margin: -25% 0 0 -25%;

	background-color: yellow;

	/* -webkit-animation-name: fadein; */
}

p.center {
	font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
	text-align: center;
	vertical-align: middle;
	font-size: 80px;
	vertical-align: middle;
}

.product-grid {
	display: flex;
	background: #ddd;
	border-radius: 10px;
	padding: 2em 2em;
	justify-content: space-evenly;
	gap: 10px 20px;
	flex-wrap: wrap-reverse;
}

.flex-item {
	flex-grow: 1;
	flex-basis: 20%;
	align-items: center;
}

.wsk-cp-product {
	background: #fff;
	padding: 15px;
	border-radius: 6px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	position: relative;
	margin: 20px auto;
}

.wsk-cp-img {
	position: absolute;
	top: 1%;
	left: 50%;
	transform: translate(-50%);
	width: 90%;
	padding: 5px;
	transition: all 0.2s ease-in-out;
}
.wsk-cp-img img {
	width: 100%;
	transition: all 0.2s ease-in-out;
	border-radius: 6px;
}
.wsk-cp-product:hover .wsk-cp-img {
	top: -1%;
}
.wsk-cp-product:hover .wsk-cp-img img {
	box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
.wsk-cp-text {
	padding-top: 80%;
}
.wsk-cp-text .category {
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	padding: 5px;
	margin-bottom: 45px;
	position: relative;
	transition: all 0.2s ease-in-out;
}
.wsk-cp-text .category > * {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.wsk-cp-text .category > span {
	padding: 12px 30px;
	border: 1px solid #313131;
	background: #212121;
	color: #fff;
	box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
	border-radius: 27px;
	transition: all 0.05s ease-in-out;
}
.wsk-cp-product:hover .wsk-cp-text .category > span {
	border-color: #ddd;
	box-shadow: none;
	padding: 11px 28px;
}
.wsk-cp-product:hover .wsk-cp-text .category {
	margin-top: 0px;
}
.wsk-cp-text .title-product {
	text-align: center;
}
.wsk-cp-text .title-product h3 {
	font-size: 20px;
	font-weight: bold;
	margin: 15px auto;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 100%;
}
.wsk-cp-text .description-prod p {
	margin: 0;
}
/* Truncate */
.wsk-cp-text .description-prod {
	text-align: center;
	width: 100%;
	height: 62px;
	overflow: hidden;
	display: -webkit-box;
	margin-bottom: 15px;
}
.card-footer {
	padding: 25px 0 5px;
	border-top: 1px solid #ddd;
}
.card-footer:after,
.card-footer:before {
	content: "";
	display: table;
}
.card-footer:after {
	clear: both;
}

.card-footer .wcf-left {
	float: left;
}

.card-footer .wcf-right {
	float: right;
}

.price {
	font-size: 18px;
	font-weight: bold;
}

a.buy-btn {
	display: block;
	color: #212121;
	text-align: center;
	font-size: 18px;
	width: 35px;
	height: 35px;
	line-height: 35px;
	border-radius: 50%;
	border: 1px solid #212121;
	transition: all 0.2s ease-in-out;
}
a.buy-btn:hover,
a.buy-btn:active,
a.buy-btn:focus {
	border-color: #ff9800;
	background: #ff9800;
	color: #fff;
	text-decoration: none;
}

footer {
  margin: 0px 6px;
  text-align: center;
}

.bottom {
	padding-top: 35px;
}

.gray-bar {
    background-color: gray;
    color: white;
    padding: 10px 0px 10px 0px;
    width: 100%;
	  margin-bottom: 0px;

}


@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes shake {
	0% {
		transform: translate(1px, 1px) rotate(0deg);
	}
	10% {
		transform: translate(-1px, -2px) rotate(-1deg);
	}
	20% {
		transform: translate(-3px, 0px) rotate(1deg);
	}
	30% {
		transform: translate(3px, 2px) rotate(0deg);
	}
	40% {
		transform: translate(1px, -1px) rotate(1deg);
	}
	50% {
		transform: translate(-1px, 2px) rotate(-1deg);
	}
	60% {
		transform: translate(-3px, 1px) rotate(0deg);
	}
	70% {
		transform: translate(3px, 1px) rotate(-1deg);
	}
	80% {
		transform: translate(-1px, -1px) rotate(1deg);
	}
	90% {
		transform: translate(1px, 2px) rotate(0deg);
	}
	100% {
		transform: translate(1px, -2px) rotate(-1deg);
	}
}
